html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
  background: #acf1fa url('images/cover.jpg') center fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  height: 100vh;
}

.form__box,
.form__input {
  border-radius: 5px;
  transition: .3s ease;
}

.form__box {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 50px;
}

.form__box:hover {
  transform: scale(1.02);
}

.form__input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.form__input:focus {
  box-shadow: 0 0 10px #fefefefe;
}

.form__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotateY(180deg);
  position: absolute;
  top: 5px;
  right: 10px;
}

.output {
  width: 90%;
  color: #fefefe;
  margin: 20px auto;
}

.mean {
  width: 100%;
  margin: 10px 0 40px;
  color: #00363d;
  padding: 30px 10px 20px;
  border-radius: 5px;
  background: #fefefe;
}

.mean__speech {
  padding-top: 20px;
}

.mean__definition {
  padding: 0 10px;
}

.mean__synonym {
  margin-top: 20px;
}

.mean__synonym__title {
  font-weight: bold;
}

.photentic {
  width: 100%;
  padding: 0 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.photentic__text {
  margin-bottom: 10px;
  font-size: 24px;
}

.photentic__audio {
  margin-top: 20px;
}

@media screen and (min-width: 576px) {
  .form__box {
    width: 400px;
  }

  .photentic__audio {
    margin-top: 0;
  }
}

@media screen and (min-width: 1025px) {
  .form__box {
    width: 600px;
    height: 60px;
  }

  .output {
    font-size: 20px;
  }
}

@media screen and (min-width: 1025px) { 
  .output {
    font-size: 24px;
  }
}